---
import { ENV } from 'varlock/env';

const publicVar = ENV.PUBLIC_VAR;
const emptySecret = ENV.EMPTY_SECRET;
const emptyIsUndefined = emptySecret === undefined;
---

<html>
  <head>
    <title>Varlock Empty Secret Test - Astro</title>
  </head>
  <body>
    <h1>Empty Secret Test</h1>
    <p>public-var:{publicVar}</p>
    <p>empty-is-undefined:{emptyIsUndefined}</p>
  </body>
</html>
